body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.9;
  }
  header {
    background: #333333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    
  }

  
 .logo {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: white;
    padding-top: 5px;
  }
  .btlogo{
    text-decoration: none;
  }
   

  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 17px;
 
    
  }
  
  header nav ul li {
    margin-left: 20px;
    
    
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    
    
  }
  header nav ul li :hover{
  text-decoration: underline;
    
  }
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 700px;
  }
  
  .search-bar input[type="text"] {
    width: 40%;
    margin-left: 10rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    outline: none;
    transition: width 0.3s ease, border-color 0.3s ease;
  }
  
  .search-bar input[type="text"]:hover {
    width: 80%;
    border-color: #333;
    transition: width 0.5s ease, border-color 0.3s ease;
  }
  
  .search-bar button , .inscrire {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #555;
    color: #ddd;
  }
  .inscrire{
    font-style: none;
    background-color: #333;
    color: white;
    font-size: 20px;
    outline: none;
    transition: width 0.3s ease, border-color 0.3s ease;
    margin-right: 50px;
    padding: 0 0 0 0;
  
  }
  .inscrire :hover {
    background-color: #333;
    color: #ddd;
    transition: width 0.5s ease, border-color 0.3s ease;
  }
  .menu{
    font-style: none;
    background-color: #333;
    color: white;
    font-size: 25px;
    outline: none;
    transition: width 0.5s ease, border-color 0.3s ease;
  }
  .menu :hover {
    background-color: #333;
    color: #ddd;
    transition: width 0.5s ease, border-color 0.3s ease;
  }
  .imgs {
    display: flex;

}
.img1, .img2 {
    position: relative;
    flex: 1;
    overflow: hidden;
    transition: transform 0.5s;
}

.img1 img, .img2 img {
    width: 100%;
    height: auto;
    display: block;
}

.img1:hover, .img2:hover {
    transform: scale(1.03);
}

/* Button Inside Image */
.bt-f {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: transparent;
    border-color: #333;
    border-radius: 20px;
    font-size: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.bf{
 text-decoration: none;
 color: #fff;
}

.bf:hover {
    color: #2d2d2d;
}

.bt-enf {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border-color: #333;
  border-radius: 20px;
  font-size: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.bt-enf:hover {
  color: #2d2d2d;
}
.img3 {
  position: relative;
  flex: 1;
  overflow: hidden;
  transition: transform 0.5s;
}
.img3:hover {
  transform: scale(1.03);
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 30px;
  top: 0px;
}
footer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

footer table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

footer th, footer td {
  padding: 8px 12px;
  text-align: left;
}

footer th {

  font-weight: bold;
}
footer td a {
  color: #fff;
  text-decoration: none;
}

footer td a:hover {
  text-decoration: underline;
}

footer p {
  margin-top: 10px;
}
span{
  background-color: #ddd;
  color: #333;
  padding: 3px;
}
.vd{
  background-color: #1f1e1e;
}